* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
  padding: 1% 8%;
}

.container .logo {
  width: 120px;
  margin: 4px 12px;
}

.content {
  margin-top: 7em;
}
.content p {
  color: #fff;
  margin-top: 1em;
}

.content h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 600;
  margin: 12px 0;
}

.content h1 span {
  color: #ff6000;
}

.content button {
  color: #fff;
  padding: 12px 25px;
  box-shadow: floralwhite;
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  display: flex;
  align-items: center;
}

.triangle {
}
